html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Arial;
  background-color: #010118;
}

p {
  color: white;
  font-size: 1.3em;
  /*text-align: justify;*/
  text-align: left;
}

/*Titres*/
#Titre {
  color: white;
  height: 100%;
  text-align: center;
  padding-bottom: 2em;
  padding-top: 2em;
  font-size: 2.8em;
}

#otherTitre {
  color: white;
  font-size: 2em;
}

.titreSection {
  font-size: 2em;
  text-align: center;
  color: white;
}

.sousTitre {
  font-size: 1.5em;
  color: white;
}

/*Baniere animé*/

header {
  background-size: cover;
  background-position: center;
  height: 50vh;
  transition: background-image 1.7s;
}

#chargementimg {
  display: none;
}

@media print {
  #chargementimg img {
    image-resolution: 100dpi;
  }
}


/*bouton remonte page*/


#boutonHaut {
  position: fixed;
  bottom: 10%;
  right: 1.5em;
  z-index: 1000;
}

#boutonHaut img {
  height: 1.8rem;
}

.hidden {
  display: none;
}


/*MENU*/

nav {
  position: fixed;
  top: 0;
  z-index: 1000;
}

#open-menu span {
  display: block;
  height: 5px;
  width: 35px;
  background-color: white;
  margin: 10px 0 0 10px;
  transition: 0.4s;
  z-index: 1000;
}

#deroulement {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  z-index: 800;
}

#deroulement ul {
  padding: 0;
}

#deroulement .menu-content {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  padding: 10px;
  z-index: 1000;
  margin-top: 10px;
}

#deroulement li {
  list-style-type: none;
  margin: 10px;
  z-index: 1000;
}

#deroulement li a {
  text-decoration: none;
  color: white;
  font-size: 1.5em;
  display: block;
  text-align: center;
  z-index: 1000;
  text-transform: uppercase;
  transition: .3s ease;
}

#open-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

#close-menu span {
  display: block;
  height: 5px;
  width: 35px;
  background-color: white;
  margin: 10px 0 0 10px;
  transition: 0.4s;
  z-index: 1000;
}

#close-menu span:nth-child(1) {
  transform: rotate(45deg) translate(10px, 10px);
}

#close-menu span:nth-child(2) {
  transform: rotate(-45deg) translate(0px, 0px);
}

#close-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

}

#deroulement li a:hover {
  color: #f37c49;
  transform: scale(1.05);
}

#changerMode {
  background-color: black;
  color: white;
  height: 40px;
  border-radius: 15px;
  border-width: 2px;
  border-color: #f37c49;
  display: block;
  margin: 0 48% 0 48%;
  z-index: 1000;
  transition: .3s ease;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
}

#changerMode:hover {
  background-color: #f37c49;
}


/*paragraphe*/
.description {
  background-color: #010118;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.2);
  padding: 1em;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 2em;
  margin-top: 2em;

}

.description video {
  width: 100%;
}

/*Page LIEUX description+image*/
.ligne {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: space-between;
}

.ligne p {
  margin: 0;
  width: 50%;
}

.ligne img {
  width: 45%;
  height: 45%;

}



/*GALERIE ACCUEIL*/
.galerie {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 2em;
  margin: 2em;
}

.galerie img {
  width: 300px;
  height: 100%;
}

.galerie img:hover {
  transform: scale(1.05);
  transition: .3s ease;
  filter: blur(2px);
}

.galerie img:hover .enfant {
  opacity: 1;
}

.parent {
  position: relative;
}

.enfant {
  position: absolute;
  top: 50%;
  left: 0;
  margin-left: 2em;

  opacity: 0;

  color: white;
  font-size: 1.5em;
  text-transform: uppercase;

}

.parent:hover .enfant {
  opacity: 1;
}




/*contact footer*/
.contactlist {
  padding: 0;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  flex-wrap: wrap;
}

.contactlist li {
  margin: -1em;
}


.contactlist figure img {
  height: 1.8rem;

}

.contactlist figure figcaption {
  display: table-caption;
  font-size: 1.2rem;
}

footer {
  background-color: #010118;
  padding-top: 2em;
  padding-bottom: 2em;
  padding-left: 10%;
  border-top: solid;
  border-top-color: #ababab;
  border-top-width: 1px;
  color: white;
}

footer img {
  background-color: white;
  border-width: 4px;
}

/*FORMULAIRE*/
form {
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.4);
  margin: 2em 25% 2em 25%;
  padding: 2em;
  border-radius: 5px;


}

.formulaire h3 {
  margin-left: 10%;
}

.formulaire {

  border-top: solid;
  border-top-color: #ababab;
  border-top-width: 1px;
}

form input {
  background-color: #010118;
  color: white;
  width: 100%;
  height: 2em;
  border-radius: 12px;
  border-width: 3px;
  border-color: #79b5f4;
  margin-bottom: 1em;
}

form label {
  font-size: 1.2em;
  margin-bottom: 0.5em;
}

form textarea {
  background-color: #010118;
  color: white;
  width: 100%;
  height: 10em;
  border-color: #79b5f4;
  border-radius: 12px;
  border-width: 3px;
  margin-bottom: 1em;
}

#enregistre {
  color: white;
  border-radius: 12px;
  font-size: 1em;
  border-width: 1px;
  padding: 3px 3px 3px 3px;
  border-color: #79b5f4;
  background-color: #010118;
}

form textarea:hover {
  border-color: #f37c49;
}

#enregistre:hover {
  background-color: #79b5f4;
}

form input:hover {
  border-color: #f37c49;
  transition: .3s ease;

}

#enregistre:active {
  transform: scale(1.02);
  transition: .3s ease;
}



/*responsive*/


@media only screen and (max-width: 800px) {

  form {
    margin: 3em;
  }
}

@media only screen and (max-width: 600px) {
  .description {
    margin: 1em;
  }

  form {
    margin: 1em;
  }

  #Titre {
    font-size: 2em;
  }

  .ligne {
    flex-direction: column;
  }

  #sousTitre {
    font-size: 1.5em;
    color: white;
  }

  #otherTitre {
    font-size: 1.75em;
  }

  .titreSection {
    font-size: 1.75em;
  }

  .sousTitre {
    font-size: 1.4em;

  }

  header {
    height: 40vh;
  }
  .formulaire .sousTitre {
  margin: 1em;
  }
}



@media only screen and (max-width: 1000px) {
  .ligne p {
    width: 100%;
    align-items: center;
  }

  .ligne img {
    width: 100%;
  }
}
